{{ template "header.html" . }}

<div class="panel panel-default">
                        <div class="panel-heading">Most Relevants Tweets  
                                               <a class="btn btn-primary btn-xs" style="float: right" href="/">Go Back</a> 
                                                                       <a class="btn btn-primary btn-xs" style="float: right; margin-right: 10px;" target="_blank" href="/most_relevants/?export=json">Show in JSON</a>
                        
                        </div>



      <div class="panel-body">
          <div class="list-group"> 
            {{ range .}}
            <div href="#" class="list-group-item">
                {{if .Retweeted}}
                    <span class="badge">Retweeted
                        : {{.RetweetCount}} </span>
                {{end}}
                <!--  Name: {{.User.Name}}<br> -->
            <b>Screen name:</b> {{.User.ScreenName}}<br>
            <b> Text:</b> {{.Text}}<br>
            <b> Created:</b> {{.CreatedAt}}<br>
            <b>  Followers Count:</b> {{.User.FollowersCount}}<br>
            </div>
            {{end}}
          </div>
      </div>
</div>


{{ template "footer.html" .}}
